apns2==0.3.0
asn1crypto==0.24.0
cffi==1.11.3
cryptography==2.1.4
dj-database-url==0.4.2
Django==2.0.1
django-push-notifications==1.5.0
djangorestframework==3.7.7
gunicorn==19.7.1
h2==2.6.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.6
Pillow==5.0.0
psycopg2==2.7.3.2
pycparser==2.18
PyJWT==1.5.3
pytz==2017.3
six==1.11.0
whitenoise==4.0b4
